.App {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #c03a2be9, #8e44ad);

  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  color: whitesmoke;
}

.list {
  /* width: 80%; */
  margin: 0.5rem 5rem;
}
